<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.userManager.dao.SellerInfoMapper">
<insert id="save" parameterType="map">
    <foreach collection="userInfo" item="user" separator=";">
        insert into seller_info (seller_id,user_name,password,openid)
        values(#{user.sellerId},#{user.userName},#{user.password},#{user.openid})
    </foreach>
  </insert>
<update id="update" parameterType="map">
    <foreach collection="userInfo" item="user" separator=";">
        update seller_info
        set user_name = #{user.userName},password =#{user.password},openid = #{user.openid}
        where seller_id = #{user.sellerId}
    </foreach>
</update>

</mapper>